.header {
  background-color: #ececec;
}
.header .container {
  height: 90px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
h2 {
  display: flex;
  align-items: center;
  gap: 10px;
}
.logo {
  max-width: 40px;
}
