body {
  user-select: none;
  background-color: rgb(36, 143, 214);
}
.count--box {
  width: 150px;
  height: 150px;
  background-color: azure;
  margin: 50px auto;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-weight: 700;
  font-size: 55px;
}
.count--minus,
.count--plus {
  width: 50px;
  height: 50px;
  font-size: 30px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 60%;
  outline: 0;
  border: 0;
  color: aliceblue;
  background-color: #444444;
}
.zero {
  opacity: 0.8;
  background-color: #999;
  cursor: no-drop;
}
.coun {
  opacity: 1;
  background-color: #444;
  cursor: pointer;
}
.count--minus {
  left: -5%;
}
.count--plus {
  right: -5%;
}
